// Цвета
$color-header-footer: #34353E;
$color-activity-1: #237fae;
$color-activity-2: #108982;
$color-activity-3: #33AEC0;

$color-green: #1a6b5e;
$color-green-dark: #0e5545;
$color-green-light: #237fae;

$color-gray-dark: #2a3a40;
$color-gray-light: #F4F5F8;
$sitemap-background: #1a2a30;

$color-white: #fff;

// Акцентный цвет для кнопок и ссылок
$color-accent: #00b7af;

// Шрифты
$font-family: 'Montserrat', sans-serif;