<!-- Боковое меню страницы "О компании" -->

<ul class="subsection__list">

    <li class="subsection__list-item">
        <a href="/about/">О компании</a>
    </li>

    <li class="subsection__list-item">
        <a href="/about/contacts.html">Контакты</a>
    </li>

    <!-- <li class="subsection__list-item">
        <a href="/about/certificates.html">Сертификаты</a>
    </li> -->

    <li class="subsection__list-item">
        <a href="/about/patents.html">Патенты</a>
    </li>

    <li class="subsection__list-item">
        <a href="/about/awards.html">Награды</a>
    </li>

    <li class="subsection__list-item">
        <a href="/about/reviews.html">Отзывы</a>
    </li>
    
    <li class="subsection__list-item">
        <a href="/about/partners.html">Партнёры</a>
    </li>
    
    <li class="subsection__list-item">
        <a href="/about/details.html">Реквизиты</a>
    </li>

    <li class="subsection__list-item">
        <a href="/about/additions.html">Доп. материалы</a>
    </li>

</ul>