<div class="choice__bg"></div>

<div class="choice__container">
    <h2 class="choice__title">Почему выбирают нас?</h2>
    <div class="choice__grid">
        
        <div class="choice-card">
            <div class="choice-card__icon">
                <img src="/assets/images/choice/choice_1.png" alt="35+ лет опыта">
            </div>
            <div class="choice-card__title">35+ лет опыта</div>
            <div class="choice-card__desc">Работаем в сфере экологических технологий с 1988 года</div>
        </div>

        <div class="choice-card">
            <div class="choice-card__icon">
                <img src="/assets/images/choice/choice_2.png" alt="Инновационная технология">
            </div>
            <div class="choice-card__title">Инновационная технология</div>
            <div class="choice-card__desc">Запатентованная технология электролиза солевых растворов</div>
        </div>

        <div class="choice-card">
            <div class="choice-card__icon">
                <img src="/assets/images/choice/choice_3.png" alt="Международное признание">
            </div>
            <div class="choice-card__title">Международное признание</div>
            <div class="choice-card__desc">Проекты по заданию Всемирной лаборатории</div>
        </div>

        <div class="choice-card">
            <div class="choice-card__icon">
                <img src="/assets/images/choice/choice_4.png" alt="Безопасные технологии">
            </div>
            <div class="choice-card__title">Безопасные технологии</div>
            <div class="choice-card__desc">Получение гипохлорита натрия из раствора обычной поваренной соли</div>
        </div>

        <div class="choice-card">
            <div class="choice-card__icon">
                <img src="/assets/images/choice/choice_5.png" alt="Работа с Водоканалом">
            </div>
            <div class="choice-card__title">Работа с Водоканалом</div>
            <div class="choice-card__desc">Официальный партнёр ленинградского Водоканала с 1989 года</div>
        </div>

        <div class="choice-card">
            <div class="choice-card__icon">
                <img src="/assets/images/choice/choice_6.png" alt="Собственные технологии">
            </div>
            <div class="choice-card__title">Собственные технологии</div>
            <div class="choice-card__desc">240+ запатентованных физико-химических решений</div>
        </div>

    </div>
</div>