<header class="header__page">

    <div class="header__container">
        <div class="header__logo">
            <a href="/index.html">
                <img src="/assets/icons/logo_main.png" alt="Логотип">
            </a>
        </div>

        <div class="header__contacts">
            <div class="header__contact-item">
                <img class="header__contact-icon" src="/assets/icons/icon-mail.png" alt="Email">
                <a href="mailto:info@npkekolog.ru">info@npkekolog.ru</a>
            </div>
            <div class="header__contact-item">
                <img class="header__contact-icon" src="/assets/icons/icon-call.png" alt="Телефон">
                <a href="tel:+79111560905">8 (911) 156-09-05</a>
            </div>
        </div>

        <button class="header__callback-btn" data-modal-open>Позвоните нам</button>

        <div class="header__menu" id="siteMapBtn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>