<!-- Боковое меню страницы "О компании" -->

<ul class="subsection__list">

    <li class="subsection__list-item">
        <a href="/equipment/electrolysis.html">Электролизные установки</a>
    </li>

    <li class="subsection__list-item">
        <a href="/equipment/pumps.html">Насосное оборудование</a>
    </li>
    
    <li class="subsection__list-item">
        <a href="/equipment/tanks.html">Ёмкостное оборудование</a>
    </li>
    
    <li class="subsection__list-item">
        <a href="/equipment/wastewater.html">Очистка сточных вод</a>
    </li>

</ul>