<div class="objects__map">
    <img class="objects__map-img" src="/assets/images/projects/map/object_map_1.png">
    <img class="object_marker object_marker_1" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_2" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_3" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_4" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_5" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_6" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_7" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_8" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_9" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_10" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_11" src="/assets/images/projects/map/marker_logo.png">
    <img class="object_marker object_marker_12" src="/assets/images/projects/map/marker_logo.png">
    <!-- <img class="object_marker object_marker_13" src="/assets/images/projects/map/marker_logo.png"> -->
</div>