<!-- Боковое меню страницы "О компании" -->

<ul class="subsection__list">

    <li class="subsection__list-item">
        <a href="/services/development.html">Разработка технологических решений</a>
    </li>

    <li class="subsection__list-item">
        <a href="/services/design.html">Проектирование</a>
    </li>
    
    <li class="subsection__list-item">
        <a href="/services/installation.html">Монтажные и пуско-наладочные работы</a>
    </li>
    
    <li class="subsection__list-item">
        <a href="/services/maintenance.html">Сервисное обслуживание</a>
    </li>

</ul>