<!-- Карта сайта (выпадающая панель сверху) -->
<div class="sitemap-overlay" id="siteMapOverlay"></div>
<div class="sitemap-panel" id="siteMapPanel">
    <div class="sitemap-panel__inner">
        <button class="sitemap-panel__close" id="siteMapClose">×</button>
        
        <div class="sitemap__grid">
            <!-- Колонка 1: Технологии -->
            <div class="sitemap__column">
                <a href="/technologies/" class="sitemap__section-link">
                    <h4>Технологии</h4>
                </a>
                <ul>
                    <li><a href="/technologies/disinfection.html">Обеззараживание воды</a></li>
                    <li><a href="/technologies/water-treatment.html">Водоподготовка</a></li>
                    <li><a href="/technologies/wastewater-treatment.html">Очистка стоков</a></li>
                    <li><a href="/technologies/pools.html">Решения для бассейнов</a></li>
                    <li><a href="/technologies/biofouling.html">Снятие биообрастаний</a></li>
                </ul>
            </div>

            <!-- Колонка 2: Оборудование -->
            <div class="sitemap__column">
                <a href="/equipment/" class="sitemap__section-link">
                    <h4>Оборудование</h4>
                </a>
                <ul>
                    <li><a href="/equipment/electrolysis.html">Электролизные установки</a></li>
                    <li><a href="/equipment/pumps.html">Насосное оборудование</a></li>
                    <li><a href="/equipment/tanks.html">Ёмкостное оборудование</a></li>
                    <li><a href="/equipment/wastewater.html">Очистка сточных вод</a></li>
                </ul>
            </div>

            <!-- Колонка 3: Услуги -->
            <div class="sitemap__column">
                <a href="/services/" class="sitemap__section-link">
                    <h4>Услуги</h4>
                </a>
                <ul>
                    <li><a href="/services/development.html">Разработка технологических решений</a></li>
                    <li><a href="/services/design.html">Проектирование</a></li>
                    <li><a href="/services/installation.html">Монтажные и пуско-наладочные работы</a></li>
                    <li><a href="/services/maintenance.html">Сервисное обслуживание</a></li>
                </ul>
            </div>

            <!-- Колонка 4: О компании -->
            <div class="sitemap__column">
                <a href="/about/" class="sitemap__section-link">
                    <h4>О компании</h4>
                </a>
                <ul>
                    <li><a href="/projects/">Выполненные объекты</a></li>
                    <li><a href="/about/contacts.html">Контакты</a></li>
                    <!-- <li><a href="/about/certificates.html">Сертификаты и патенты</a></li> -->
                    <!-- <li><a href="/about/awards.html">Награды</a></li> -->
                    <!-- <li><a href="/about/press.html">Пресса о нас</a></li> -->
                    <!-- <li><a href="/about/partners.html">Партнёры</a></li> -->
                    <li><a href="/about/additions.html">Доп. материалы</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>