<!-- Боковое меню страницы "О компании" -->

<ul class="subsection__list">

    <!-- <li class="subsection__list-item">
        <a href="/technologies/">Технологии</a>
    </li> -->

    <li class="subsection__list-item">
        <a href="/technologies/disinfection.html">Обеззараживание воды</a>
    </li>

    <li class="subsection__list-item">
        <a href="/technologies/water-treatment.html">Водоподготовка</a>
    </li>
    
    <li class="subsection__list-item">
        <a href="/technologies/wastewater-treatment.html">Очистка стоков</a>
    </li>
    
    <li class="subsection__list-item">
        <a href="/technologies/pools.html">Решения для бассейнов</a>
    </li>

    <li class="subsection__list-item">
        <a href="/technologies/biofouling.html">Снятие биообрастаний</a>
    </li>

</ul>