// Блок контакты на главной странице

@use '../base/variables' as *;

.contacts {
    padding: 50px;
    background: #f8f9fa;
}

.contacts__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 1440px;
    margin: 0 auto;
}

/* Правая часть (контакты) */
.contacts__description {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contacts__description h3 {
    font-size: 28px;
    font-weight: 700;
    color: #1a2c3e;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;
}

.contacts__description h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background: $color-green;
    border-radius: 2px;
}

// Св-ва блока с адресом находятся в subsection-contacts.scss

/* Адаптив */
@media (max-width: 992px) {
    .contacts {
        padding: 40px;
    }
    
    .contacts__inner {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .contacts {
        padding: 30px;
    }
    
    .contacts__inner {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    .contacts__map {
        height: 400px;
    }
    
    .contacts__marker img {
        width: 50px;
    }
}