/* ========== ФУТЕР ========== */
.footer {
    background: #34353E;
    color: #90a3b2;
    padding: 48px 0 24px;
}

.footer__inner {
    padding-inline: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__links {
    display: flex;
    gap: 32px;
}

.footer__links a {
    color: #90a3b2;
    text-decoration: none;
    font-size: 14px;
}

.footer__links a:hover {
    color: white;
}